In [1]:

import pandas as pd

In [2]:
file_path = 'cleaned_test_titanic.csv'
df = pd.read_csv(file_path)

In [3]:
numerical_columns = df.select_dtypes(include=['number']).columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [5]:
print(numerical_columns)
print(categorical_columns)

Index(['Unnamed: 0', 'PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Index(['Name', 'Sex', 'Ticket', 'Embarked'], dtype='object')

Summary dataset fo numerical column

In [7]:
print("\nSummary Statistics for Categorical Columns:")
print(df[categorical_columns].describe())

Summary Statistics for Categorical Columns:
                    Name   Sex    Ticket Embarked
count                376   376       376      376
unique               376     2       333        3
top     Kelly, Mr. James  male  CA. 2343        S
freq                   1   239         4      245

In [28]:
for col in numerical_columns:
    print(f"Column: {col}")
    print(f"Mean: {df[col].mean() :}")
    print(f"Median: {df[col].median():}")
    print(f"Mode: {df[col].mode()}")
    print("-------------------------------------------------")

Column: Unnamed: 0
Mean: 208.97074468085106
Median: 209.5
Mode: 0        0
1        1
2        3
3        4
4        5
      ...
371    413
372    414
373    415
374    416
375    417
Name: Unnamed: 0, Length: 376, dtype: int64
-------------------------------------------------
Column: PassengerId
Mean: 1100.970744680851
Median: 1101.5
Mode: 0       892
1       893
2       895
3       896
4       897
       ...
371    1305
372    1306
373    1307
374    1308
375    1309
Name: PassengerId, Length: 376, dtype: int64
-------------------------------------------------
Column: Pclass
Mean: 2.3351063829787235
Median: 3.0
Mode: 0    3
Name: Pclass, dtype: int64
-------------------------------------------------
Column: Age
Mean: 28.267619680851062
Median: 30.0
Mode: 0    30.27259
Name: Age, dtype: float64
-------------------------------------------------
Column: SibSp
Mean: 0.43351063829787234
Median: 0.0
Mode: 0    0
Name: SibSp, dtype: int64
-------------------------------------------------
Column: Parch
Mean: 0.39361702127659576
Median: 0.0
Mode: 0    0
Name: Parch, dtype: int64
-------------------------------------------------
Column: Fare
Mean: 31.055928457446807
Median: 13.8583
Mode: 0    7.75
Name: Fare, dtype: float64
-------------------------------------------------

In [29]:
file_path = 'cleaned_train_titanic.csv'
df = pd.read_csv(file_path)

In [30]:
numerical_columns = df.select_dtypes(include=['number']).columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [31]:
for col in numerical_columns:
    print(f"Column: {col}")
    print(f"Mean: {df[col].mean() :}")
    print(f"Median: {df[col].median():}")
    print(f"Mode: {df[col].mode()}")
    print("-------------------------------------------------")

Column: Unnamed: 0
Mean: 446.369696969697
Median: 444.0
Mode: 0        0
1        1
2        2
3        3
4        4
      ...
820    886
821    887
822    888
823    889
824    890
Name: Unnamed: 0, Length: 825, dtype: int64
-------------------------------------------------
Column: PassengerId
Mean: 447.369696969697
Median: 445.0
Mode: 0        1
1        2
2        3
3        4
4        5
      ...
820    887
821    888
822    889
823    890
824    891
Name: PassengerId, Length: 825, dtype: int64
-------------------------------------------------
Column: Survived
Mean: 0.3806060606060606
Median: 0.0
Mode: 0    0
Name: Survived, dtype: int64
-------------------------------------------------
Column: Pclass
Mean: 2.341818181818182
Median: 3.0
Mode: 0    3
Name: Pclass, dtype: int64
-------------------------------------------------
Column: Age
Mean: 28.879689483065953
Median: 29.69911764705882
Mode: 0    29.699118
Name: Age, dtype: float64
-------------------------------------------------
Column: SibSp
Mean: 0.5078787878787879
Median: 0.0
Mode: 0    0
Name: SibSp, dtype: int64
-------------------------------------------------
Column: Parch
Mean: 0.3575757575757576
Median: 0.0
Mode: 0    0
Name: Parch, dtype: int64
-------------------------------------------------
Column: Fare
Mean: 31.483615393939395
Median: 13.4167
Mode: 0     8.05
1    13.00
Name: Fare, dtype: float64
-------------------------------------------------

In [32]:
print("\nSummary Statistics for Categorical Columns:")
print(df[categorical_columns].describe())

Summary Statistics for Categorical Columns:
                           Name   Sex    Ticket Embarked
count                       825   825       825      824
unique                      825     2       647        3
top     Braund, Mr. Owen Harris  male  CA. 2343        S
freq                          1   531         7      599

In [34]:
file_path = 'gender_submission (1).csv'
df = pd.read_csv(file_path)

In [35]:
numerical_columns = df.select_dtypes(include=['number']).columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [36]:
print(numerical_columns)
print(categorical_columns)

Index(['PassengerId', 'Survived'], dtype='object')
Index([], dtype='object')

In [37]:
for col in numerical_columns:
    print(f"Column: {col}")
    print(f"Mean: {df[col].mean() :}")
    print(f"Median: {df[col].median():}")
    print(f"Mode: {df[col].mode()}")
    print("-------------------------------------------------")

Column: PassengerId
Mean: 1100.5
Median: 1100.5
Mode: 0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64
-------------------------------------------------
Column: Survived
Mean: 0.36363636363636365
Median: 0.0
Mode: 0    0
Name: Survived, dtype: int64
-------------------------------------------------